<form action="/api/sessions/register" method="post">
  First Name:
  <input type="text" name="first_name" id="first_name" />
  Last Name:
  <input type="text" name="last_name" id="last_name" />
  Email:
  <input type="text" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="REGISTER" />
</form>

<h3><a href="/api/views">Home</a></h3>
<h3><a href="/api/views/login">Iniciar sesión</a></h3>