<h1>{{product.title}}</h1>
<p>Price: ${{product.price}}</p>
<p>Description: {{product.description}}</p>

<button>Add to cart</button>

<h3><a href="/api/views/">Go to the main page</a></h3>
<h3></h3><a href="/api/views/products">Go to all products view</a></h3>